@page "/admin/site"
@attribute [Authorize(Roles = "Admin")]
@inject IToastService ToastService
<FluentToastProvider />
<FluentDialogProvider />
<PageTitle>Admin - Site Settings</PageTitle>
<h5>Site Settings</h5>

@code {
    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {

    }
}