@page "/ideas"
@inject IdeaDataAccess DataAccess
@inject IJSRuntime JS

<PageTitle>Ideas</PageTitle>
<h3>Ideas</h3>
<br />
<FluentGrid>
@if (data != null)
{
    foreach (var d in data)
    {
        <FluentGridItem xs="12" sm="6" md="4" lg="3">
            <IdeaCard data="@d" />
        </FluentGridItem>
    }
}
</FluentGrid>

@code {
    private IEnumerable<IdeaModel>? data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("highlightCode");
    }

    private async Task RefreshData()
    {
        data = await DataAccess.GetAll();
    }
}
