@page "/projects"
@inject ProjectDataAccess projectAccess
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Projects</PageTitle>
<h3>Projects</h3>
<br />
@if (proj != null)
{
    foreach (var p in proj)
    {
        <ProjectView project="@p" />
        <br />
    }

}

@code {
    private IEnumerable<ProjectModel>? proj { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("highlightCode");
    }

    private async Task RefreshData()
    {
        proj = await projectAccess.GetAllWithTasks();
    }
}
