@page "/clipboard"
@inject ClipboardDataAccess clipboardData;

<h3>Clipboard</h3>

<MudGrid Justify="Justify.Center">
@if (cb != null)
{
    foreach (var c in cb)
    {
        <MudItem xs="12" sm="6" md="4" lg="3">
            <ClipboardCard cb="@c" />
        </MudItem>
    }
}
</MudGrid>

@code {
    private IEnumerable<ClipboardModel>? cb { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        cb = await clipboardData.GetAll();
    }
}
