@page "/projects"
@inject ProjectDataAccess projectAccess;

<h3>Projects</h3>
@if (proj != null)
{
    foreach (var p in proj)
    {
        <ProjectView p="@p" />
        <br />
    }

}

@code {
    private IEnumerable<ProjectModel>? proj { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        proj = await projectAccess.GetAllWithTasks();
    }
}
