@inject Statuses state

<div role="status" style="padding-bottom: 1em;">
<FluentBadge Fill="somevalue" Color="@state.DefaultStatuses[statusIndex].Color" BackgroundColor="@state.DefaultStatuses[statusIndex].BackgroundColor"><i class="@state.DefaultStatuses[statusIndex].Icon" />&nbsp;&nbsp;@state.DefaultStatuses[statusIndex].Description</FluentBadge>
</div>
@code {
    [Parameter]
    public int statusIndex { get; set; }
}
