<FluentStack>
    @if (Boards != null)
    {
        @foreach (var board in Boards)
        {
            <FluentCard>
                <h5>@board.Title</h5>
                @if (board.Tasks.Count > 0)
                {
                    <FluentStack Orientation="Orientation.Vertical">
                        @foreach (var task in board.Tasks)
                        {
                            <FluentCard>
                                <h4>@task.Title</h4>
                                <StatusBadge statusIndex="@task.Status" />
                                <br />
                                @((MarkupString)MarkdownService.Parse(task.Description))
                            </FluentCard>
                        }
                    </FluentStack>
                }
            </FluentCard>
        }
    }
</FluentStack>

@code {
    [Parameter]
    public List<ProjectBoardModel> Boards { get; set; }

    protected override void OnInitialized()
    {

    }
}
