ul {
    margin: 25px;
    padding: initial;
    list-style: initial
}

/* ko-fi icon */
/*.fa-ko-fi::before {
    content: "\f0f4";
    display: inline-block;
    font-size: 1.1em;
    line-height: 0.45em;
    margin: -0.45em 0 0 -0.2em;
    overflow-y: hidden;
    padding-top: 0.45em;
}

.fa-ko-fi::after {
    color: #000;
    content: "\f004";
    font-size: 50%;
    font-weight: 900;
    margin: 0.5em 0 0 -2em;
    position: absolute;
}*/

.ko-fi::after {
    content: '\f004';
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    position: absolute;
    margin: 20px 0 0 -32px;
}