@* @page "/streaming/tomorrowgoal" *@
@* @layout StreamLayout *@

@inject DayOfCodeDataAccess dayData
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
@if (tm != null) {
    <h1 style="text-align: center; color: white; text-shadow: 1px 1px 1px black; font-size: 45px; ">Day @tm.Day - @tm.Date.ToString("MMMM d, yyyy") - @tm.Tomorrow</h1>
}
</body>

</html>
@code {
    private TomorrowModel? tm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        tm = await dayData.GetTomorrow();
    }
}
